html,
body {
  height: 100vh;
  --uno: bg-base font-inter tracking-wide text-my-dark-violet-80;
  overflow: hidden;
}

* {
  min-width: 0;
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
